<h3>Add a dose for <strong><%= @cocktail.name %></strong></h3>

<div class="form-inputs">
  <%= simple_form_for [@cocktail, @dose], :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.input :description, class: "form-control" %>
    <%= f.association :ingredient, class: "form-control select2" %>
    <%= f.submit "Add a dose", class: "btn btn-primary"%>
  <% end %>
</div>
